:root{
    /* --button-background-color: #0866ff;
    --button-background-color-selected: #0651cc;

    --background-color: #0651cc;
    --background-color-transparent: #0651ccbb;

    --shadow-light: #3984ff;
    --shadow-dark: #043d99; */


    --button-background-color: #08a883;
    --button-background-color-selected: #137a62;

    --background-color: #08a883;
    --background-color-transparent: #137a62bb;

    --shadow-light: #1ebe99;
    /* --shadow-light: #39b99b; */
    --shadow-dark: #023c2e;
    /* --shadow-dark: #04644e; */

}


/* #72934d */

/* #1ebe99 */
