body{
    padding: 0;
    margin: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;

    background: url(../img/background.webp);
    background-size: auto 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;

    backdrop-filter: blur(0.5em) brightness(1) saturate(0.4);
    -webkit-backdrop-filter: blur(0.5em) brightness(1) saturate(0.4);

    min-height: 100vh;

    user-select: none;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    /* z-index: 0; */
}

.header {
    position: absolute;

    width: 85vw;
    min-width: 50em;
    min-height: 6em;

    top: 0;

    border-radius: 0.35em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    background-color: #2d3436;

    box-shadow: 0 0 4em 1em #171b1cbb, 0 0 10em 3em #faebd733;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    animation: slide_from_top .75s 1 ease-out;
}

.menu {

    margin: 0 1em;

    width: -webkit-fill-available;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.menu-button {
    padding: 0.25em 0;
    border-radius: 0.35em;
    background-color: #d35400;
    z-index: 99;
}

.menu-button:hover {
    transition: box-shadow .1s, text-shadow .1s;
    box-shadow: -.2em -.2em .5em .1em #faebd722, .2em .2em .5em .2em #171b1cbb;
}

.menu-button.notEnabled {
    background-color: #4d595c;
    cursor: not-allowed;
}

.menu-button.notEnabled .menu-button-bar {
    opacity: 0.3;

}

.menu-button-bar {
    width: 2.25em;
    min-height: 0.35em;
    background-color: antiquewhite;
    margin: 0.35em 0.35em;
}

.nav-menu {
    position: absolute;

    width: 85vw;
    min-width: 50em;
    /* min-height: 30vh; */
    height: -webkit-fill-available;
    max-height: calc(100vh - 6em - .7em);

    margin: 0.35em 0;

    top: 6em;

    border-radius: 0.35em;

    background-color: #2d3436;
    box-shadow: 0 0 4em 1em #171b1cbb, 0 0 10em 3em #faebd766;

    z-index: 999;
    
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.nav-menu.hide {
    /* transform: translateY(0vh); */
    animation: slide_to_top .75s 1 ease-out;
    display: flex;
}

.nav-menu.show {
    /* transform: translateY(0); */
    animation: slide_from_top .75s 1 ease-out;
    display: flex;
}

.nav-menu-content {

    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.nav-menu-link {

    margin: 0;
    padding: 0;

    padding: .5em .5em;
    margin: .25em .25em;

    width: -webkit-fill-available;

    border-radius: 0.35em;

    background-color: #d35400;

    text-decoration: none;
    text-align: center;
    color: antiquewhite;
}

.nav-menu-link.notEnabled {
    background-color: #4d595c;
    cursor: not-allowed;
}

.page-title {
    margin: 0 1em;
    text-shadow: .1em .1em .2em BLACK, -.1em -.1em .7em WHITE;
    user-select: none;
    animation: shake 8s infinite ease-in-out;
}

.wrapper {
    width: 85vw;
    min-width: 50em;

    margin: 6.25em auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    animation: slide_from_left 1.25s 1 ease-out;
}

.header-machines{
    width: -webkit-fill-available;

    padding: .5em 0.5em;
    margin: 0.25em auto;

    border-radius: 0.35em;


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    background-color: #2D3436;

    animation: scale_0_to_1 .3s 1;

}

.header-machines-text {
    padding: 0 3vw;
}

.header-machines-machine, .selected-machine-info-machine {
    padding: 0;
    margin:0;

    padding: 0 .75em;

    border-radius: 0.35em;
    background-color: #D35400;
    text-shadow: 0 0 0.7em #2d3436;
    transition: all .2s;

    cursor: pointer;

    user-select: none;
}

.selected-machine-info-machine {
    background-color: #4d595c;
    cursor: auto;
}

.header-machines-machine:hover {
    /* box-shadow: 0 0 200em #faebd7; */
    transition: box-shadow .1s;
    box-shadow: -.15em -.15em .5em .1em #faebd722, .15em .15em .5em .2em #171b1cbb;
}

.header-machines-machine-add {
    padding: 0;
    margin:0;

    padding: 0 .75em;

    border-radius: 0.35em;
    background-color: #4d595c;
    transition: background-color .2s;
    animation: button_pulsar 1.5s infinite;
    white-space: nowrap;
    cursor: pointer;
}

.header-machines-machine-add:hover {
    background-color: #D35400;
    transition: background-color .2s;
    animation: none;
    text-shadow: 0 0 0.7em #2d3436;
}

#from-machine {
    display: none;
}

#to-machine {
    display: none;
}

.header-wrapper {
    width: -webkit-fill-available;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header-clear-cookies {
    user-select: none;
}

.header-clear-cookies-img {
    filter: drop-shadow(0 110vh #4d595c);
    transform: translateY(-110vh);
    height: 2.5em;
}

.header-clear-cookies:hover .header-clear-cookies-img {
    filter: drop-shadow(0 110vh #D35400);
}

.content {
    width: -webkit-fill-available;
    height: fit-content;

    /* margin: 0.25em 0.25em; */

    border-radius: 0.35em;


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.content-selected-machine-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.content-division {

    width: -webkit-fill-available;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;

    padding: .5em 0.5em;
    margin: 0.25em 0.25em;

    border-radius: 0.35em;

    background-color: #2D3436;

    animation: slide_from_left 1.75s 1 ease-out;

    display: none;
}

.content-division.right {
    margin-right: 0;
}

.content-division.left {
    margin-left: 0;
}

.content-division.bottom {
    margin: 0.25em 0;
}

.selected-machine-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.selected-machine-info-text {
    padding: 0 2em;

}

.card {
    margin: 0.5em 0em;
    padding: .5em 0;

    height: -webkit-fill-available;

    border-radius: 0.35em;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.card-title {
    padding: 0 2em;
}

.for_technicians-wrapper {
    margin: 0;
    padding: 0;
    
    width: -webkit-fill-available;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;

    overflow: hidden;
}

.for_technicians-viewport {
    border-radius: 0.35em;
    margin: 1em 2em;
    padding: 2em;

    background: linear-gradient(45deg, #d3540022, #4d595c88, #0054d322);
    box-shadow: 0 0 .75em .1em #0f1618;

    /* min-width: -webkit-fill-available; */
    min-height: -webkit-fill-available;

    max-width: 15em;
    min-width: 35em;

}

.for_technicians-container {
    margin: 0;
    padding: 0;
}

.for_technicians-title {
    text-align: start;
    font-style: italic;
    font-weight: bolder;
    font-size: 1.3em;
}

.for_technicians-pre_summary {
    font-weight: bold;
}

/* .for_technicians-description {

} */

.for_technicians-conclusion {
    font-weight: bold;
}

.selector {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    user-select: none;

    font-size: 2em;

    height: 1em;
}

.selector-button {
    padding: 0.45em;

    color: #4d595c;
}
.selector-button:hover {
    color: antiquewhite; 
}

.selector-item {
    color: #4d595c;
}

.selector-item.selected {
    color: antiquewhite;
}

.card-controls {
    margin: 0 auto;
    padding: .5em 0;

    height: -webkit-fill-available;

    border-radius: 0.35em;

    /* max-width: 45vw;
    min-width: 30em; */

    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;

}

.card-controls-control {

    margin: 0.25em;

    width: -webkit-fill-available;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.card-controls-control-text {

    margin: 0.25em;

    width: -webkit-fill-available;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.input-number, .input-text {
    border: 0;
    padding: 0;
    margin: 0;

    padding: 0.25em 1em;
    margin: 0 0.25em;

    border-radius: 0.15em;

    max-width: 5.5em;
    min-width: 3em;

    background-color: antiquewhite;

    color: #2D3436;


    font-size: 1rem;
}

.input-number:focus {
    box-shadow: inset 0 0 0.25em 0.05em #D35400;
    outline: none;
}

.input-units {
    border: 0;
    padding: 0;
    margin: 0;

    padding: 0.22em 1em;
    margin: 0 0.25em;

    border-radius: 0.15em;

    max-width: 10em;
    min-width: 6em;

    background-color: antiquewhite;
    color: #2D3436;

    font-size: 1rem;
}

.input-units:focus {
    box-shadow: inset 0 0 0.25em 0.05em #D35400;
    outline: none;
}

.card-result-wrapper {

    padding-top: 2em;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.card-result-button {

    width: fit-content;

    padding: 0;
    margin:0;

    padding: 0 .75em;

    border-radius: 0.35em;
    background-color: #D35400;
    /* box-shadow: 0 0 0 #faebd700; */
    text-shadow: 0 0 0.7em #2d3436;
    transition: all .25s;

    cursor: pointer;

    user-select: none;
    text-decoration: none;
    color: inherit;

    height: 3em;
    display: flex;
    align-items: center;
}

.card-result-button.error {
    animation: shake_error .1s 10 linear;
}

.card-result-button:hover {
    /* box-shadow: 0 0 200em #faebd7; */
    transition: box-shadow .1s, text-shadow .1s;
    box-shadow: -.2em -.2em .5em .1em #faebd722, .2em .2em .5em .2em #171b1cbb;
}

.footer {
    position: absolute;

    width: 85vw;
    min-width: 50em;
    min-height: 6em;
    height: 6em;

    bottom: 0;

    border-radius: 0.35em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: #2d3436;

    box-shadow: 0 0 4em 1em #171b1cbb, 0 0 10em 3em  #faebd733;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;

    /* animation: slide_from_bottom .75s 1 ease-out; */
    animation: slide_from_top .75s 1 ease-out;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.footer.extended {
    height: 16em;
    transition: height .75s 1 ease-out;
}

.footer-description {
    text-align: center;
    margin: 0;
    padding: 0;
}

.author-link {
    text-decoration: none;
    color:#D35400;
}

.author-link:hover {
    text-decoration: underline;
}

.go-to-top-btn {
    position: fixed;

    margin: 0;
    padding: .15em;

    border-radius: .35em;

    right: 2em;
    bottom: 3em;

    opacity: 0.5;

    text-decoration: none;
    color: antiquewhite;

    background-color: #2d3436;

    font-size: 2rem;
}

.go-to-top-btn:hover {
    opacity: 1;
    transition: opacity .75s 1 ease-out;
}